# Logs
logs
*.log
npm-debug.log*
package-lock.json

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules/
.nyc_output/

# Optional npm cache directory
.npm/

# Coverage
coverage/

# IDE
.idea/
.vscode/

samples/test.nwd
samples/test-large.dwfx

.DS_Store
test.js
1gb.bin
2gb.bin
6gb.mp4
11mb.bin