# Logs
logs
*.log
npm-debug.log*
package-lock.json

# Dependency directory
node_modules/
.nyc_output/

# Runtime data
pids
*.pid
*.seed

# Coverage
coverage

# IDE
.vscode/
.idea/

samples/test.nwd
samples/test-large.dwfx

.DS_Store
